@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark and light mode full background fix */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  @apply bg-white text-black dark:bg-[#0f0f0f] dark:text-white;
}
